:root {                                  /* :root ........because I want to use these styles everywhere in my css and html*/
    --grid-width: 1200px;                   /* "--"  - Variables begin with a double hyphen*/
    --accent-color: #f3310f;
    --inactive-color: rgba(0, 0, 0, 0.25);
  }
  * {                                            
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #fff2ea;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .container {
    margin: 0 auto;
    width: var(--grid-width);
  }
  
  .top {
    display: flex;
    padding: 3px;
    margin-top: 50px;
    background-color: inherit;
    color: var(--inactive-color);
    width: fit-content;
    margin-bottom: 6px;
  }
  
  .button-text {
    font-size: small;
    color: rgba(0, 0, 0, 0.856);
  }
  
  .top-button {
    display: flex;
    align-items: center;
    background-color: rgb(253, 248, 248);
    padding: 6px;
    margin-right: 10px;
    border: 1px rgb(243, 185, 185) solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(193, 162, 158, 0.804);
    transition: all 0.3s ease;
    touch-action: manipulation;
  }
  
  
  .top-button:hover {
    color: #aa6804;
    box-shadow: 0px 2px 20px #A20A3C;
      top: 3px;
  }
  
  
  .top-button > span {
    cursor: pointer;
    margin-right: 3px;
  }
  
  #pen-color {
    border: none;
  }
  
  #sketch-area {
    display: grid;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 30px 4px rgba(193, 162, 158, 0.804);
    padding: 0;
    width: 1200px;
    height: 1000px;
  }
  
  .slider {
   -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 100%;
    background: rgba(238, 220, 200, 0.726);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  #slider-value {
    margin: 0 auto;
    text-align: center;
  }
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {          /*used for Firefox.настройка внешнего вида ползунка бегунка в этих браузерах.*/
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--accent-color);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {            /*used for Firefox.настройка внешнего вида ползунка бегунка в этих браузерах.*/
    -webkit-appearance: none;*/
    width: 25px;
    height: 25px;
    background: var(--accent-color);
    cursor: pointer;
  }
  
  
  #rainbow{
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #rainbow :before {
    content: "";
    background: linear-gradient(    45deg,    #ff0000,    #ff7300,    #fffb00,    #48ff00,    #00ffd5,    #002bff,    #7a00ff,    #ff00c8,    #ff0000  );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-rainbow 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    -webkit-animation: glowing-rainbow 20s linear infinite;
  }
  
  
  @keyframes glowing-rainbow {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  #rainbow:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f8f6f6;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  
  